body{

}

header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #91e233f3;
}

a{
    color: white;
    text-decoration: none;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

/* Utility Classes */
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}